<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
  </head>
  <body>
    <div class="mui-container">
      <button class="mui-btn mui-btn--raised mui-btn--primary install_asset">Install</button>
      <!-- <button class="mui-btn mui-btn--raised mui-btn--primary uninstall_asset">UnInstall</button> -->
    </div> 
    <script>
        var shop_token = '<%-token%>';
        var shop_name = '<%-shop_name%>';
    </script>
    <script src="/scripts/dashboard.js"></script>
  </body>
</html>